/* Custom fonts */

@font-face {
  font-family: fraunces;
  src: url(assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@font-face {
  font-family: manrope;
  src: url(assets/fonts/manrope/Manrope-VariableFont_wght.ttf);
}



p,
a {
  font-family: manrope;
  font-size: 16px;
}


h1,
h2,
h3,
h4,
h5 {
  font-family: fraunces;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --clr-dark-purple: #24053E;
  --clr-fresh-green: #44FFA1;
  --clr-purple-grey: #584D62;
  --clr-light-grey: #FCF8FF;
  --clr-grey: #979797;
}



.page {
  width: 375px;
}

.apply-link {
  font-weight: 700;
}

.apply-link:hover {
  color: var(--clr-fresh-green);
}

.page__banner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 1rem 5rem 1rem;
}

.page__list-element {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: var(--clr-purple-grey);
  padding: 0 1rem 2rem 1rem;
}

.list-ordinal {
  border-radius: 100%;
  border: 1px solid;
  font-weight: bold;
  padding: .5rem 1rem .5rem 1rem;
}

.list-header {
  padding-top: 1.75rem;
  padding-bottom: 1rem;
  font-weight: 600;
}

.list-text {
  text-align: center;
  line-height: 1.5;
}

.apply-link {
  color: white;
}

.highlighted {
  text-decoration: underline;
  text-underline-offset: .5rem;
  text-decoration-color: var(--clr-fresh-green);
  text-decoration-thickness: .15rem;
  color: white;
}

.page__motto {
  color: white;
  font-size: 45px;
  line-height: 1;
  text-align: center;
  font-weight: 600;
  font-family: fraunces;
  padding-bottom: 2rem;
}

button {
  background-color: var(--clr-fresh-green);
  font-family: manrope;
  padding: 1rem 1.75rem 1rem 1.75rem;
  font-weight: 700;
  font-size: 16;
  border: 1px solid var(--clr-dark-purple);
  cursor: pointer;
}

button:hover {
  background-color: var(--clr-dark-purple);
  color: var(--clr-fresh-green);
  border: 1px solid var(--clr-fresh-green);
}

.page__picture {
  width: 75%;
  padding-bottom: 60px;
  padding-top: 60px;
}

.page__presentation {
  padding-top: 9rem;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.presentation__pic {
  width: 280px;
}

.squared__description {
  background-color: var(--clr-dark-purple);
  margin: 0 1rem 0 1rem;
  color: white;
  padding: 2rem;
  text-align: center;
  position: relative;
  top: -3rem;
}

.description__header {
  padding-bottom: 20px;
  font-weight: 500;
}

.description__text {
  margin: 0 .6rem 1.5rem .6rem;
  line-height: 1.75;
}

body {
  display: grid;
  place-content: center;
  width: 100%;
  background-color: white;
}

main {
  position: relative;
  display: flex;
  flex-flow: column;
}

.content {
  z-index: 5;
  position: relative;
}

.background {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.content {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.bottom-logo {
  padding: 2rem 0 3.5rem 0;
}

.media-icons {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
}

.media-icon {
  padding: 0 1rem 0 1rem;
}

.bg__section1 {
  background-color: var(--clr-dark-purple);
  height: 410px;
  width: 100%;
  position: absolute;
  z-index: 3;
}

.bg__section1::after {
  content: "";
  top: 410px;
  background-color: var(--clr-dark-purple);
  height: 40px;
  border-radius: 0 0 100% 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
}


.bg__section2 {
  background-color: var(--clr-light-grey);
  height: 1300px;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.bg__section2::after {
  content: " ";
  top: 1300px;
  background-color: var(--clr-light-grey);
  height: 40px;
  border-radius: 0 0 100% 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
}

@media(min-width: 700px) {
  .page { 
    width: 768px;
  }
}

@media(min-width: 1000px){
  .page {
    width: 1440px;
  }
}